################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/POS/bin/Debug
/POS/.vs/POS/FileContentIndex
/BL/obj/Debug/BL.csproj.AssemblyReference.cache
/BL/obj/Debug/BL.dll
/BL/obj/Debug/BL.pdb
/DAL/bin/Debug/DAL.dll
/DAL/bin/Debug/DAL.pdb
/DAL/bin/Debug/DATA-EF.dll
/DAL/bin/Debug/DATA-EF.pdb
/DAL/obj/Debug/DAL.csproj.AssemblyReference.cache
/DAL/obj/Debug/DAL.dll
/DAL/obj/Debug/DAL.pdb
/DATA-EF/bin/Debug/DATA-EF.dll
/DATA-EF/bin/Debug/DATA-EF.pdb
/DATA-EF/obj/Debug/DATA-EF.dll
/DATA-EF/obj/Debug/DATA-EF.pdb
/POS/.vs/POS/v17/.suo
/POS/.vs/POS/v17/DocumentLayout.backup.json
/POS/.vs/POS/v17/DocumentLayout.json
/BL/bin/Debug/BL.dll
/BL/bin/Debug/BL.pdb
/BL/bin/Debug/DAL.dll
/BL/bin/Debug/DAL.pdb
/BL/bin/Debug/DATA-EF.dll
/BL/bin/Debug/DATA-EF.pdb
/POS/bin/Debug/app.publish/POS.exe
/POS/bin/Debug/BL.dll
/POS/bin/Debug/BL.pdb
/POS/bin/Debug/DAL.dll
/POS/bin/Debug/DAL.pdb
/POS/bin/Debug/DATA-EF.dll
/POS/bin/Debug/DATA-EF.pdb
/POS/bin/Debug/POS.application
/POS/bin/Debug/POS.exe
/POS/bin/Debug/POS.exe.manifest
/POS/bin/Debug/POS.pdb
/POS/obj/Debug/POS.application
/POS/obj/Debug/POS.csproj.AssemblyReference.cache
/POS/obj/Debug/POS.exe
/POS/obj/Debug/POS.exe.manifest
/POS/obj/Debug/POS.pdb
